div.body {
  background-image: url(https://cdn.dribbble.com/users/1162077/screenshots/4667608/food-pattern.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 800px;
}

div.body_2 {
  background-image: url(https://cdn.dribbble.com/users/1162077/screenshots/4667608/food-pattern.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

div.relative {
  background-color: rgb(75, 97, 172);
  border: 15px solid rgb(9, 3, 85);
  top: 10px;
  width: 85%;
  height: 1700px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

div.relative3 {
  background-color: rgb(75, 97, 172);
  border: 15px solid rgb(9, 3, 85);
  top: 10px;
  width: 85%;
  height: 800px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

div.card {
  min-height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
}

div.wrapper {
  margin: 4rem 0rem;
  border: 5px solid rgb(9, 3, 85);
  background-color: rgb(99, 118, 179);
  height: 400px;
}

div.wrapper2 {
  margin: 4rem 0rem;
  border: 5px solid rgb(9, 3, 85);
  background-color: rgb(99, 118, 179);
  height: 670px;
}

/* margin: 4rem 0rem; */

p.recipe_titile {
  color:rgb(9, 3, 85);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

img.style{
  border-radius: 2rem;
  border: 5px solid rgb(9, 3, 85);
  position: absolute;
  width: 250px;
  height: 200px;
  left: 10%;
  object-fit: cover;
}

div.about {
  color:rgb(9, 3, 85);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.input[type="search"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* ---------------------------------------------------------- */

.save_changes_btn {
  width: auto;
  padding: 10px 20px;
  background-color: rgb(9, 3, 85);
}

/* ---------------------------------------------------------- */

.box {
  flex: 30%;
  display: table;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: #0d1425;
  color: #fff;
  padding: 30px 30px;
  border-radius: 20px;
  height: 700;
}

.box img {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 200px;
  width: 200px;
}

.About {
  flex: 50%;
  display: table;
  padding: 30px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 1300px;
  height: 700;
}

.About2 {
  flex: 50%;
  display: table;
  padding: 10px;
  font-size: 20px;
  background-color: #c0c0c0;
  border-radius: 20px;
  width: 1000px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(9, 3, 85);
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-size: 17px;
}

.topnav p {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(75, 97, 172);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: rgb(75, 97, 172);
  color: white;
}

/* ---------------------------------------------------------- */

div.relative_1 {
  background-color: rgb(42, 67, 150);
  border: 15px solid rgb(9, 3, 85);
  position: relative;
  top: 150px;
  width: 350px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  }  

div.relative_2 {
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(9, 3, 85);
  color: rgb(9, 3, 85);
  position: relative;
  width: 300px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  }  

  .container_2 {
  padding: 16px;
  }

  .container_3 {
    padding: 16px;
    background-color: #ffffff;
  }

  span.psw {
  float: right;
  padding-top: 16px;
  }

  .sing_up_btn {
  width: auto;
  padding: 10px 20px;
  background-color: rgb(9, 3, 85);
  }

  .log_in_btn {
    width: auto;
    padding: 10px 20px;
    background-color: rgb(9, 3, 85);
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }


  .change_profile_btn {
    width: auto;
    padding: 10px 20px;
    background-color: rgb(9, 3, 85);
}

/* ---------------------------------------------------------- */

.container{
display: flex;
width: 1100px;
height: 800px;
padding: 20px 20px;
}
